build
dist
install
CMakeCache.txt
CMakeFiles
cmake_install.cmake
**/CMakeFiles/
**/cmake_install.cmake
Makefile
CMakeHelloWorld
*.a
**/*.a
build/**
__pycache__
*.pyc
diag.txt
test_disassemble.txt
textured_cube.png